@charset "utf-8";
.more{
    width: 80%;
    margin: 0px auto;
}

.news {
  width: 33%;
  float: left;
}
.news > img {
  width: 50%;
}

.facebook {
  width: 33%;
  float: left;
}
.video {
  width: 33%;
  float: left;
}
.fb-comments, .fb-comments iframe[style] {
        width: 100% !important;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {

        width: 100% !important;

    }
    

@media only screen and (max-width: 768px) {
  .news {
    width: 100%;
  }

  .facebook {
    width: 100%;
  }
  .video {
    width: 100%;
  }
  iframe[src *= "facebook"]{
    max-width:360px;
    height: 197px;
}
}

@media only screen and (max-width: 480px) {
  .news {
    width: 100%;
  }

  .facebook {
    width: 100%;
  }
  .video {
    width: 100%;
  }

  iframe[src *= "facebook"]{
    max-width:360px;
    height: 197px;
}
}

@media only screen and (max-width: 320px) {
  .news {
    width: 100%;
  }

  .facebook {
    width: 100%;
  }
  .video {
    width: 100%;
  }
  iframe[src *= "facebook"]{
    max-width:360px;
    height: 197px;
}
}
